<!DOCTYPE html>
<html lang="en">
    <%- include('./templates/head.ejs') %>
<body>
    <%- include('./templates/header.ejs') %>
    <main>
        <h1>Info about us</h1>
        <h2>We have 3 employees in our team.</h2>
        <h2>The company was established in 1990.</h2>
        <h2>For getting more information, click <a href="" target="_blank" class="span-link">here...</a></h2>
    </main>
    <script type="module" src="./scriptsForHTML/aboutUs.js"></script>
    <script type="module" src="./scriptsForHTML/script.js"></script>
</body>
</html>