<!DOCTYPE html>
<html lang="en">
    <%- include('./templates/head.ejs') %>
<body>
    <%- include('./templates/header.ejs') %>
    <main>
        <%- include('./templates/authorization.ejs') %>
        <h2>Info for reading</h2>
        <ul>
            <li>Some text</li>
            <li>Some text</li>
            <li>Some text</li>
            <li>Some text</li>
            <li>Some text</li>
        </ul>
    </main>
    <script type="module" src="./scriptsForHTML/script.js"></script>
</body>
</html>